body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 14px 350px 0px 350px;
}

.headlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 350px 100px 350px;
}

.heromain {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.herosec {
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: bold;
}

.heroleft {
    width: 400px;
}

.infocontent {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding-bottom: 100px;
}

.infosingle {
    width: 200px;
}

.infoheader {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 36px;
}

img {
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(226, 220, 220);
    padding: 100px 0px 100px 0px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    width: 750px;  
}

.quoteauthor {
    padding-left: 500px;
    font-weight: bold;
    font-size: 20px;
}